<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <context:component-scan base-package="com.asmx"/>

    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="com.asmx.controllers.data.AuthorizedUserResolver" lazy-init="false"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <!-- Assets -->
    <mvc:resources mapping="/assets/**" location="/WEB-INF/assets/"/>

    <!-- I18n -->
    <bean id="localeResolver" class="com.asmx.controllers.data.UserLocaleResolver"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <!-- View Resolvers -->

    <!-- Apache Tiles -->
    <bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
        <property name="order" value="#{T(org.springframework.core.Ordered).HIGHEST_PRECEDENCE}"/>
    </bean>

    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/tiles/definitions.xml</value>
                <value>/WEB-INF/tiles.xml</value>
            </list>
        </property>
    </bean>

    <!-- Standalone JSPs -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="#{tilesViewResolver.order + 1}"/>
    </bean>

    <!-- Data management -->

    <import resource="datasource.xml"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.asmx.data.Transaction"/>
        <property name="targetMethod" value="setTransactionManager"/>
        <property name="arguments" ref="transactionManager"/>
    </bean>

    <bean name="userFactory" class="com.asmx.data.entities.UserSimpleFactory"/>
    <bean name="spaceFactory" class="com.asmx.data.entities.SpaceSimpleFactory"/>
    <bean name="noteFactory" class="com.asmx.data.entities.NoteSimpleFactory"/>
    <bean name="tagFactory" class="com.asmx.data.entities.TagSimpleFactory"/>
    <bean name="keywordFactory" class="com.asmx.data.entities.KeywordSimpleFactory"/>
    <bean name="attachmentFactory" class="com.asmx.data.entities.AttachmentSimpleFactory"/>
    <bean name="changeRecordFactory" class="com.asmx.data.entities.ChangeRecordSimpleFactory"/>

    <bean name="usersDao" class="com.asmx.data.daos.UsersDaoSimple">
        <property name="userFactory" ref="userFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="spacesDao" class="com.asmx.data.daos.SpacesDaoSimple">
        <property name="spaceFactory" ref="spaceFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="chainsDao" class="com.asmx.data.daos.ChainsDaoSimple">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="notesDao" class="com.asmx.data.daos.NotesDaoSimple">
        <property name="noteFactory" ref="noteFactory"/>
        <property name="changeRecordFactory" ref="changeRecordFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="tagsDao" class="com.asmx.data.daos.TagsDaoSimple">
        <property name="tagFactory" ref="tagFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="keywordsDao" class="com.asmx.data.daos.KeywordsDaoSimple">
        <property name="keywordFactory" ref="keywordFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="attachmentsDao" class="com.asmx.data.daos.AttachmentsDaoSimple">
        <property name="attachmentFactory" ref="attachmentFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>
