<?xml version="1.0" encoding="UTF-8"?>

<web-app id="notes7" version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Notes7</display-name>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <session-config>
        <!-- Session itself expires in one day -->
        <session-timeout>86400</session-timeout>
        <cookie-config>
            <!-- Session cookie expires when browser's closed -->
            <max-age>-1</max-age>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <jsp-config>
        <taglib>
            <taglib-uri>http://asmx.com/jsp</taglib-uri>
            <taglib-location>/WEB-INF/tags/asmx.tld</taglib-location>
        </taglib>
    </jsp-config>

    <error-page>
        <location>/WEB-INF/views/error-tile.jsp</location>
    </error-page>
</web-app>
